<!DOCTYPE html>
<html>
  <head>
    <title>Navapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%#= active_link_to 'landing_page', static_pages_landing_page_path, class: "#{'active' if current_page?(static_pages_landing_page_path)}" %>
    <%= active_link_to 'landing_page', static_pages_landing_page_path %>
    <%= active_link_to static_pages_about_path do %>
      about
    <% end %>
    <%= active_link_to 'terms', static_pages_terms_path %>
    <%= active_link_to 'privacy', static_pages_privacy_path %>
    <%= active_link_to 'pricing', static_pages_pricing_path %>
    <%= yield %>
  </body>
</html>
